---
import type { ImageMetadata, MarkdownLayoutProps } from 'astro'
import { getEntry } from 'astro:content'

import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

import Image from '@components/Image.astro'
import Dated from '@components/Dated.astro'
import Authors from '@components/Authors.astro'
import type { CollectionEntry } from 'astro:content'

type Props = MarkdownLayoutProps<{
	title: string
	blurb: string
	dated?: Date
	authors?: (string | CollectionEntry<'authors'>)[]
	image?: ImageMetadata | string
}>

// destructure the props so it works from MDX fronmatter or props directly
const { dated, title, blurb, image, authors, ...rest } = Astro.props.frontmatter || Astro.props
---

<!doctype html>
<html lang='en' data-theme='blackboard'>
	<head>
		<Head title={title} blurb={blurb} image={image} />
	</head>
	<body>
		<Header />

		{image && <Image src={image} alt={title} />}

		<main>
			<slot name='intro'>
				<section class='intro'>
					<center>
						<h1 class='intro-title'>{title}</h1>
						<p class='intro-subtitle'>
							{
								dated && (
									<>
										on <Dated dated={dated} />
									</>
								)
							}
							{
								authors && (
									<>
										by <Authors authors={authors} />
									</>
								)
							}
						</p>
						<hr />

						{blurb && <p class='intro-blurb'>{blurb}</p>}
					</center>
				</section>
			</slot>

			<slot />
		</main>

		<Footer />
	</body>
</html>

<style>
	section.intro {
		max-width: 1200px;
		margin: 0 auto;
	}
	img {
		display: block;
		object-fit: cover;
		height: 33vh;
		width: 100%;
		border-bottom: 1px solid var(--wow-border);
	}

	section.intro .intro-blurb {
		font-style: italic;
	}

	section.intro p {
		margin: 0.5em 0;
	}
</style>

<script>
	import ApexCharts from "apexcharts";

	function flipChartThemeMode(chartOptions: any, darkMode: boolean) {
		const theme = chartOptions.theme;
		const tooltip = chartOptions.tooltip;
		const chart = chartOptions.chart;

		chartOptions = {
			...chartOptions,
			chart: {
				...chart,
				background: "transparent",
				fontFamily: "inherit",
			},
			theme: {
				...theme,
				mode: darkMode ? "dark" : "light",
			},
			tooltip: {
				...tooltip,
				theme: darkMode ? "dark" : "light",
			},
		};

		return chartOptions;
	}

	// when the page loads
	document.addEventListener("DOMContentLoaded", () => {

		// detect the theme of the page
		const dataTheme = document.documentElement.getAttribute("data-theme");
		const isDarkMode = dataTheme === "blackboard";

		// look for each of our charts
		document.querySelectorAll(".rehype-apexcharts-container").forEach((chartDiv) => {
			const chartDataAttr = chartDiv.getAttribute("data-rehype-apexcharts");
			if (chartDataAttr) {
				const chartData = eval("(" + chartDataAttr + ")");
				const chart = new ApexCharts(
					chartDiv,
					flipChartThemeMode(chartData, isDarkMode)
				);
				chart.render();
			}
		});
	});
</script>
